



$color--dark: #1D1F22;
$color--grey: #7C8187;
$color--dark-gray: #979797;
$color--orange: #E46643;
$color--white: #fff;



$transition: 0.3s;




@mixin flex-row() {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
    align-items: center;
}




html, body {
    overflow-x: hidden;
}

.btn-gen {
    width: fit-content;
    height: fit-content;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.display-none {
    display: none !important;
}


.main--show-asid {
    transform: translateX(0) !important;
}

.main--dark {

    .section--container {
        .section--markdown {
            background-color: $color--dark !important;
        }
        .section--preview {
            background-color: $color--dark !important;
        }
    }
}


.main {
    width: calc(100% + 250px);
    height: 100%;
    display: grid;
    grid-template-columns: fit-content(300px) 1fr;
    grid-template-rows: fit-content(300px) 1fr;
    transform: translateX(-250px);
    font-family: Arial, Helvetica, sans-serif;
    transition: all $transition;

    .aside {
        @include flex-column();
        align-items: start;
        gap: 32px;
        width: 250px;
        height: 100vh;
        background-color: $color--dark;
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        padding: 25px;
        box-sizing: border-box;

        .aside-title {
            color: $color--grey;
            font-size: 14px;
            font-weight: 600;
        }

        .btn--new-document {
            background-color: $color--orange;
            width: 100%;
            height: 40px;
            border-radius: 8px;
            color: $color--white;
            font-size: 14px;
            font-weight: 500;
        }

        .my-documents--list {
            @include flex-column();
            gap: 30px;

            .my-documents--list--li {

                .my-document--file {
                    @include flex-row();
                    gap: 16px;
                    color: $color--white;
                    font-size: 14px;
                    font-weight: 600;

                    .icon--document {
                        width: 20px;
                    }

                    .file-deteils {
                        @include flex-column();
                        align-items: start;
                        gap: 6px;
                        .creat--date {
                            color: $color--grey;
                            font-weight: 400;
                        }
                    }
                }
            }
        }

        .theme-switcher--container {
            width: 50px;
            height: 20px;
            margin-top: auto;
            @include flex-row();
            gap: 8px;
            width: fit-content;

            .icon--theme-switcher  {
                fill: $color--grey;
            }

            .icon--theme-switcher-light path {
                fill: $color--white !important;
                transition: all $transition !important;

            }

            .theme-switcher {
                width: 48px;
                height: 24px;
                background-color: $color--grey;
                cursor: pointer;
                border-radius: 16px;
                position: relative;

                .theme-switcher--circle-dark {
                    left: calc(100% - 4px) !important;
                    transform: translate(-100%, -50%) !important;
                }

                .theme-switcher--circle {
                    transition: all $transition;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: $color--white;
                    position: absolute;
                    top: 50%;
                    left: 4px;
                    transform: translateY(-50%);
                }

            }




        }


    }

    .main-header {
        width: 100%;
        background-color: rgba($color--dark, 0.9);
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        @include flex-row();
        padding-right: 16px;
        box-sizing: border-box;

        .logo {
            display: none;
        }

        .menu-btns--container {
            margin-right: 16px;

            .btn--menu {
                width: 52px;
                height: 52px;
                background-color: rgba($color--dark-gray, 0.2);
                @include flex-row();
                justify-content: center;
                // @include flex-column();
            }
        }

        .document-name--container {
            @include flex-row();
            gap: 8px;

            .input-container {
                .inp-label {
                    display: none;
                }

                .inp-name {
                    width: 100px;
                    background: none;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid $color--white;
                    color: $color--white;
                }
            }
        }

        .delete-save-btns--container {
            margin-left: auto;
            @include flex-row();
            gap: 8px;

            .btn--save {
                width: 36px;
                height: 36px;
                border-radius: 5px;
                background-color: $color--orange;

                .save-changes {
                    display: none;
                }
            }
        }

    }

    .section--container {
        width: 100%;
        height: 100%;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        position: relative;

        .section-header {
            padding: 16px;
            box-sizing: border-box;
            text-transform: uppercase;
            color: $color--grey;
            background-color: rgba($color--dark-gray, .3);
            font-size: 16px;
            letter-spacing: 2px;
        }

        .section--markdown {
            transition: all $transition !important;
            width: 100%;
            height: 100%;
            background-color: $color--white;
        }

        .section--preview {
            transition: all $transition !important;
            width: 100%;
            height: 100%;
            background-color: $color--white;
            position: absolute;
            top: 0;
        }

        .btn--hide-show {
            position: absolute;
            top: 15px;
            right: 15px;

            svg path {
                fill: $color--grey;
            }
        }
    }


}
